//variables

//$black-col: #1c3947;
$grey-col: #384347;
$blue-col: #baf7ff;
$dark-blue-col: #2ac8e0;

$pink-col: #ff9b90;
$light-grey: #f7f9fa;
//$red-col:#E2402E;
$dark-bg-col: #01193d;

// Primary colors

// secondary colors
$sec-orange-col: #ff684e;
$sec-blue-col: #00a1bb;

// Neutrals colors

$medium-grey-col: #323f4b;
$light-grey-col: #708092;

$dark-grey-col: #2b3535;

// status colors
$red-col: #e43a40;
$yellow-col: #efb514;
$green-col: #159d25;
$orange-col: #fc7d00;

// light backgound colors
$light-teal-col: #dbf4f2;

$pink-bg-col: #fff0ee;

//Used col as of now
$default-col: #1a2145;
$white-col: #ffffff;
$black-col: #000000;
$lightgrey: #e5e5e5;
$linkWater: #bfc2ce;
$teal-col: #18daa0;

$mid-purple: rgba(168, 99, 255, 0.7);
$stateBlue: rgba(69, 94, 238, 0.7);
$lighcyan: rgba(24, 218, 160, 0.7);
$lightgold: rgba(254, 185, 66, 0.7);
$pink: rgba(255, 95, 147, 0.7);
