<div class="main-wrap">
    <div class="form-wrapper">
        <div class="login-form-sec">
            <h1>Log in</h1>
            <p class="mar-b-40">Enter your emails and password</p>

            <div class="form-group form-group-icon-fld">
                <label>Mobile Number</label> <input type="number" class="fullwidth" placeholder="Enter Mobile Number"/>
                <span class="icon success"></span>
            </div>
            <div class="form-group form-group-icon-fld">
                <label>Password</label> <input type="password" class="fullwidth" placeholder="Enter your password"/>
                <span class="icon hide-password"></span>
            </div>
            <div class="flex-align-right width-100">
                <span class="secTextLink">Forgot Password?</span>
            </div>
        </div>
        <div class="sec-pad">
            <div class="btn textbtn">Login with OTP</div>
            <div class="btn fullwidth">Log In</div>
            <span class="foot-text">Don’t have an account? <span class="textLink">Singup</span></span>
        </div>
    </div>
</div>