<div class="main-wrap">
    <div class="form-wrapper">
        <div class="login-form-sec">
            <h1>Sign Up</h1>
            <p class="mar-b-40">Enter your credentials to continue</p>

            <div class="form-group form-group-icon-fld error-field">
                <label>User name</label> <input type="number" class="fullwidth" placeholder="Enter Mobile Number"/>
                <span class="error">Please enter mobile number</span>
            </div>
            <div class="form-group form-group-icon-fld">
                <label>Mobile Number</label> <input type="number" class="fullwidth" placeholder="Enter Mobile Number"/>
                <span class="icon success"></span>
            </div>
            <div class="form-group form-group-icon-fld">
                <label>Password</label> <input type="password" class="fullwidth" placeholder="Enter your password"/>
                <span class="icon hide-password"></span>
            </div>
            <div class="width-100">
                By continuing you agree to our <span class="textLink">Terms of Service</span> and
                <span class="textLink">Privacy Policy</span>.
            </div>
        </div>
        <div class="sec-pad">
            <div class="btn fullwidth">Sign Up</div>
            <span class="foot-text">Already have an account? <span class="textLink">Log In</span></span>
        </div>
    </div>
</div>
