.width-100 {
    width: 100%;
}

.btn-theme {
    background-color: #1a2145;
    border-color: #1a2145;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1a2145 !important;
    color: #60dba1 !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

    img {
        height: 30px;
    }

    span {
        font-size: 20px;
        font-weight: 700;
    }
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.floating-btn {
    .btn {
        background-color: #1a2145;
        color: #60dba1 !important;
        position: fixed;
        bottom: 35px;
        right: 35px;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        border-radius: 50%;
    }
}

.page-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #d7d7d7;
    z-index: 1000;

    .txt {
        color: #666;
        text-align: center;
        top: 40%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
        line-height: 1.5;
    }
}

/* SPINNER ANIMATION */
.spinner {
    position: relative;
    top: 35%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #000;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.error-text {
    display: inline-block;
    color: red;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 45px;
    font-weight: 400;
}

