.side-nav{
    @extend.flex-direction-column;
    position: fixed;
    width: 240px;
    height: 100%;
    transition: all .1s ease-in-out;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.03);
}
.nav-header{
    height: 100px; 
    padding: 35px 15px;
    border-bottom: 1px solid #EEEEEE;
    background-color: $default-col; 
    h3{
        font-weight: 900;
        font-size: 18px;
        line-height: 23px;
        color: $white-col
    }
}
.nav{
    @extend.flex-direction-column;
    flex: 1;
    justify-content: space-between; 
    background-color: $default-col; 
}
.nav-links{
    flex: none;
    ul{
        margin-top: 20px; 
    }
    li{
        @extend.flex-space-between;
        position: relative;
        justify-content: flex-start;
        width: 240px;
        height: 50px;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        padding: 15px 15px 15px 26px;
        flex: none;
        z-index: 0;
        cursor: pointer;
        a{
            @extend.flex-space-between;
            position: relative;
            justify-content: flex-start;
            font-weight: 700;
            font-size: 15px;
            color: $white-col;
            line-height: 19px;
            cursor: pointer;
            text-decoration: none;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 6px;
            height: 100%;
            background-color: $white-col;
            border-radius: 0px 4px 4px 0px;
            visibility: hidden;
        }
        span{
            margin-right: 13px;
        }
        &:hover, &.active{
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 113.75%);
            &::before{
                visibility: visible;
            }
        }
    }
}
.foot-links{
    li{
        padding: 20px;
        .log-out-btn{ 
            @extend.flex-space-between;
            justify-content: center;
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            @include border-radius(10px); 
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.07);
            padding: 13px 15px; 
            cursor: pointer;
            .log-out-icon{
                margin-right: 6px;
            }
        }
        &:hover{
            .log-out-btn{ 
                background: rgba(255, 255, 255, 0.1);
            }
        }
        &::before{
            display: none;
            padding: 0;
        }
    }
}