<div class="main-wrap">
    <div class="header">
        <div class="back-link">
            <img src="/ordering-system/images/icons/back-arrow.svg" alt=""/>
        </div>
        <div class="page-title">Add New Delivery Address</div>
        <div class="blank-col">
            <span class="icon black-close"></span>
        </div>
    </div>
    <div class="wrapper">
        <div class="full-card">
            <div class="card-head">
                <h3>Order Type</h3>
            </div>
            <div class="card-body">
                <div class="btn outlined">
                    <span class="icon black-plus"></span>Add Google Address
                </div>
            </div>
        </div>

        <div class="full-card">
            <div class="card-head">
                <h3>Personal Address</h3>
            </div>
            <div class="card-body">
                <div class="form-group error-field">
                    <label>Address Line 1</label>
                    <input type="text" name="" id="" placeholder="Type your address line 1" class="fullwidth"/>
                    <span class="error">Please enter your address</span>
                </div>
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" name="" id="" placeholder="Type your address line 2" class="fullwidth"/>
                </div>
                <div class="form-group">
                    <label>Building/Tower</label>
                    <input type="text" name="" id="" placeholder="Building/Tower" class="fullwidth"/>
                </div>
                <div class="form-group">
                    <label>Landmark <span class="optional-text">(Optional)</span></label>
                    <input type="text" name="" id="" placeholder="Landmark" class="fullwidth"/>
                </div>
                <div class="form-group">
                    <h3 class="mar-b-15">Location Label</h3>
                    <div class="status-list width-100">
                        <span class="status">Pickup</span> <span class="status active">Delivery</span>
                        <span class="status">Room</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn fullwidth">Save and Proceed</div>
                </div>
            </div>
        </div>
    </div>
</div>