<div class="main-wrap">
    <div class="header">
        <div class="back-link">
            <img src="/ordering-system/images/icons/back-arrow.svg" alt=""/>
        </div>
        <div class="page-title">Select Address</div>
        <div class="blank-col">
            <div class="acc-profile fill">
                <span class="icon fill-profile"></span>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="full-card height-100">
            <div class="card-head">
                <h3>Delivery Address</h3>
            </div>
            <div class="card-body">
                <div class="address-listing">
                    <div class="card outlined seledted">
                        <div class="card-pad">
                            <div class="flex-space-between flex-align-top mar-b-10">
                                <div class="flex-align-left flex-align-top">
                                    <span class="radioBtn mar-r-10"></span>
                                    <h3 class="small">Briken Dipakbhai Prajapati</h3>
                                </div>
                                <div class="btn-action">
                                    <!-- Add "active" if needed -->
                                    <span class="btn-link editLink"></span> <span class="btn-link deleteLink"></span>
                                </div>
                            </div>
                            <p>
                                104 labdhi square, beside honest fectory, fedral bank, Bilimora- Gujarat 396-321 </p>
                        </div>
                    </div>
                </div>
                <div class="address-listing">
                    <div class="card outlined">
                        <div class="card-pad">
                            <div class="flex-space-between flex-align-top mar-b-10">
                                <div class="flex-align-left flex-align-top">
                                    <span class="radioBtn mar-r-10"></span>
                                    <h3 class="small">Suleman Hafiz shaikh</h3>
                                </div>
                                <div class="btn-action">
                                    <!-- Add "active" if needed -->
                                    <span class="btn-link editLink"></span> <span class="btn-link deleteLink"></span>
                                </div>
                            </div>
                            <p>
                                104 labdhi square, beside honest fectory, fedral bank, Bilimora- Gujarat 396-321 </p>
                        </div>
                    </div>
                </div>
                <div class="address-listing">
                    <div class="card outlined">
                        <div class="card-pad">
                            <div class="flex-space-between flex-align-top mar-b-10">
                                <div class="flex-align-left flex-align-top">
                                    <span class="radioBtn mar-r-10"></span>
                                    <h3 class="small">Hiren Dilip Patel</h3>
                                </div>
                                <div class="btn-action">
                                    <!-- Add "active" if needed -->
                                    <span class="btn-link editLink"></span> <span class="btn-link deleteLink"></span>
                                </div>
                            </div>
                            <p>
                                104 labdhi square, beside honest fectory, fedral bank, Bilimora- Gujarat 396-321.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="btn outlined">
                    <span class="icon black-plus"></span>Add new address
                </div>
            </div>
        </div>
    </div>
</div>