.card {
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin: 0 -1%;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    margin: 0;
  }
}
.card-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 260px;
  width: 32.33%;
  max-width: 355px;
  padding: 15px;
  margin: 0 1%;
  @include border-radius(10px);
  text-align: center;
  box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.05);
  cursor: default;
  // &:hover{
  //     box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.05);
  //     background: $white-col;
  // }
  // &:first-child{
  //     margin-left: 0;
  // }
  // &:last-child{
  //     margin-right: 0;
  // }
  h4 {
    text-align: center;
  }
  p {
    font-size: 14px;
  }
  // @media screen and (max-width: 1023px) {
  //     width: 100%;
  //     align-items: center;
  //     padding: 25px;
  //     margin: 0 0 10px 0;
  //     h4{
  //         text-align: center;
  //     }
  //     p{
  //         text-align: center;
  //     }
  //     &:hover{
  //         box-shadow: none;
  //         background: transparent;
  //     }
  // }
  @media screen and (max-width: 1023px) {
    width: 100%;
    margin: 0 auto 20px;
    max-width: 100%;
  }
}

.flat-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  @include border-radius(20px);
  margin-bottom: 20px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
    @media screen and (max-width: 1023px) {
      margin-bottom: 20px;
    }
  }
  &.brilliant-rose {
    margin-bottom: 0;
    @media screen and (max-width: 1023px) {
      margin-bottom: 0;
    }
  }
  .flat-card-icon {
    @extend.flex-center;
    width: 76px;
    height: 76px;
    @include border-radius(50%);
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.3);
    @media screen and (max-width: 1023px) {
      margin: 0 auto 10px;
    }
    img {
      display: block;
    }
  }
  .flat-card-title {
    color: $white-col;
    font-size: 25px;
    line-height: 30px;
    @media screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 6px;
    }
  }
  p {
    font-size: 15px;
    line-height: 20px;
    color: $white-col;
  }
  &.caribbean-green {
    &:hover {
      box-shadow: 10px 10px 50px rgba(24, 218, 160, 0.4);
    }
  }
  &.supernova {
    &:hover {
      box-shadow: 10px 10px 50px rgba(254, 185, 66, 0.4);
    }
  }
  &.hot-pink {
    &:hover {
      box-shadow: 10px 10px 50px rgba(168, 99, 255, 0.4);
    }
  }
  &.green {
    &:hover {
      box-shadow: 10px 10px 50px rgba(178, 194, 37, 0.4);
    }
  }
  &.brilliant-rose {
    &:hover {
      box-shadow: 10px 10px 50px rgba(255, 95, 147, 0.4);
    }
  }
  &.royal-blue {
    &:hover {
      box-shadow: 10px 10px 50px rgba(69, 94, 238, 0.4);
    }
  }

  .flex-space-between {
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0 auto 5px;
    }
  }
}
