<div class="content order-screen">
    <div class="container height-100 flex-center">
        <div class="loader loader-1" ng-if="interns.dto.pageLoader">
            <div class="loader-outer"></div>
            <div class="loader-inner"></div>
        </div>
        <!-- <div class="con-holder pad-20" ng-if="!interns.dto.pageLoader">
            <div class="order-detail-head">
                <div class="flex-space-between flex-align-center">
                    <h3>Interns</h3>
                    <div class="form-group flex-space-between flex-align-center inline-form">
                        <div class="form-field search-field">
                            <input type="search" ng-model="interns.dto.searchText" class="form-control form-control-search" placeholder="Search for intern">
                        </div>
                        <div class="form-group">
                            <div class="form-field">
                                <button type="button" class="btn primary-btn mar-l-15" ng-click="interns.new()">
                                    <img src="/images/icons/add-user-icon.svg" alt=""> Add New Intern
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-detail-body">
                <div class="content-body table-holder h-line-scroll">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <div class="row-name-field">Name</div>
                            </th>
                            <th>
                                <div class="row-email-field">Email</div>
                            </th>
                            <th>
                                <div class="row-count-field">Mobile</div>
                            </th>
                            <th>
                                <div class="row-status-field">Status</div>
                            </th>
                            <th>
                                <div class="row-action-field">Action</div>
                            </th>
                            <th>
                                <div class="row-action-field">&nbsp;</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="intern in interns.list | filter: interns.dto.searchText">
                            <td>
                                <div class="row-name-field">{{ intern.name }}</div>
                            </td>
                            <td>
                                <div class="row-email-field">
                                    <a href="mailto: {{ intern.email }}">{{ intern.email }}</a>
                                </div>
                            </td>
                            <td>
                                <div class="row-count-field">{{ intern.mobile_no }}</div>
                            </td>
                            <td>
                                <div class="row-status-field status-btn {{ intern.status_id == 1 ? 'active' : 'deactive' }}">{{ intern.status_id == 1 ? "Active" : "Inactive" }}</div>
                            </td>
                            <td>
                                <div class="row-action-field" ng-click="interns.edit(intern)">
                                    <img src="/images/icons/circle-edit-icon.svg" alt="">Edit
                                </div>
                            </td>
                            <td>
                                <div class="row-action-field" ng-click="interns.showLeads(intern)">
                                    <img src="/images/icons/circle-leads-icon.svg" alt="">Leads
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div><!-- Leads List -->
<div class="custom-modal" ng-if="popOver.current == 'internLeads'">
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 830px; min-width: 830px;">
            <div class="modal-body">
                <span class="close-icon" ng-click="popOver.hide()"></span>
                <div class="modal-con-head bdr-none mar-b-0">
                    <div class="flex-space-between width-100">
                        <div class="modal-con-head-info">
                            <h2 class="lg-modal-title capitalize">{{ popOver.data.name }}</h2>
                        </div>
                    </div>
                </div>
                <div class="loader-sm-box" ng-if="interns.dto['leadsPopupLoader']">
                    <div class="loader-sm"></div>
                </div>
                <div class="modal-con-body" ng-if="!interns.dto['leadsPopupLoader']">
                    <div class="food-menu-listing-holder" ng-if="popOver.data.leads.length > 0">
                        <div class="food-menu-listing" ng-repeat="lead in popOver.data.leads">
                            <div class="flex-space-between">
                                <div class="food-info-dtl flex-space-between col-8">
                                    <div class="food-info">
                                        <h3 class="capitalize">{{ lead.restaurant_name }}</h3>
                                        <p>{{ lead.comment }}</p>
                                    </div>
                                </div>
                                <div class="flex-space-between food-pricing-dtl col-4">
                                    <!--<div class="food-rate-field">
                                        <h6>City</h6>
                                        <h5>{{ lead.city }}</h5>
                                    </div>-->
                                    <div class="food-quantity-field">
                                        <h6>Created At</h6>
                                        <h5>{{ lead.created_at | date: 'EEE, dd MMM' }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="default-box" ng-if="popOver.data.leads.length == 0">
                        <strong style="color: black">No leads present to display!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
