.login-wrap-holder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    h2{
        font-weight: 900;
        font-size: 35px;
        line-height: 44px;
    }
    .l-col{
        @extend.flex-center;
        width: 50%;
        height: 100%;
        padding: 50px;
        background-color: #1A2145;
        @media screen and (max-width: 1260px) {
            padding: 20px;
        }
    }
    .r-col{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
        padding: 0 80px;
        @media screen and (max-width: 1260px) {
            padding: 0 20px;
        }
    }
    .form-control{
        border: 1px solid $grey-col; 
        @include border-radius(10px); 
    }
    .check-box-holder{
        .check-box-list-item{
            .check-box{
                @include border-radius(3px);
            }
        } 
    } 
    .text-link{
        font-size: 14px;
        line-height: 18px;
        color: $primary-col;
        text-decoration: none;
    }
    .back-to-login-text{
        display: inline-block;
        width: 50%;
        position: absolute;
        bottom: 30px;
        right: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $grey-col;
        text-align: center;
    }
}